MySQLtoADLSGen2_Nifi.json
{"flowContents":{"identifier":"4a694653-9fb9-3890-b54a-60883f8ba28f","instanceIdentifier":"57a47bf3-0182-1000-4406-9511b6c943af","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6","instanceIdentifier":"59a75059-0182-1000-0000-00004ef1cdce","name":"NiFi Flow","comments":"","position":{"x":328.0,"y":304.0},"processGroups":[{"identifier":"0320b426-fd27-3a50-8bd1-8b54e28f6108","instanceIdentifier":"8c8f3ef1-de17-3d4c-b697-6d31c5df65e9","name":"test","comments":"","position":{"x":224.0,"y":-144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"}],"remoteProcessGroups":[],"processors":[{"identifier":"335e3bf1-dfe7-3d07-9516-b090b155e92b","instanceIdentifier":"66236fdc-a15b-389f-9092-09bc9b9302d1","name":"ListAzureBlobStorage","comments":"","position":{"x":688.0,"y":-96.0},"type":"org.apache.nifi.processors.azure.storage.ListAzureBlobStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"listing-strategy":"timestamps","et-initial-listing-target":"all","storage-endpoint-suffix":null,"prefix":null,"record-writer":null,"proxy-configuration-service":null,"storage-credentials-service":null,"et-time-window":"3 hours","container-name":"data","et-state-cache":null},"propertyDescriptors":{"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"storage-credentials-service":{"name":"storage-credentials-service","displayName":"Storage Credentials","identifiesControllerService":true,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"container-name":{"name":"container-name","displayName":"Container Name","identifiesControllerService":false,"sensitive":false},"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Common Storage Account Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"},{"identifier":"3b3ab7b5-0868-3a7a-a696-87df520d8163","instanceIdentifier":"00919008-7ca1-3218-a3d3-18d71c6d66a9","name":"ListFile","comments":"","position":{"x":1576.0,"y":296.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/tmp/hadoop-nifi","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"},{"identifier":"b5ce89a4-15e2-3fb7-8cbc-6e243a1c25a1","instanceIdentifier":"d3c08c02-54ca-3c53-bdbc-c906bed64a29","name":"PutFile","comments":"","position":{"x":1272.0,"y":672.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"},{"identifier":"81e2880b-2aca-3beb-974c-b27e1f0438c9","instanceIdentifier":"8d63f792-b311-30e6-9717-4a77868832dd","name":"FetchAzureBlobStorage","comments":"","position":{"x":784.0,"y":256.0},"type":"org.apache.nifi.processors.azure.storage.FetchAzureBlobStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"cse-key-id":null,"range-length":null,"blob":"nifi","range-start":null,"storage-endpoint-suffix":null,"proxy-configuration-service":null,"storage-credentials-service":null,"container-name":"data","cse-key-type":"NONE"},"propertyDescriptors":{"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"cse-symmetric-key-hex":{"name":"cse-symmetric-key-hex","displayName":"Symmetric Key","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"storage-credentials-service":{"name":"storage-credentials-service","displayName":"Storage Credentials","identifiesControllerService":true,"sensitive":false},"container-name":{"name":"container-name","displayName":"Container Name","identifiesControllerService":false,"sensitive":false},"cse-key-type":{"name":"cse-key-type","displayName":"Client-Side Encryption Key Type","identifiesControllerService":false,"sensitive":false},"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"cse-key-id":{"name":"cse-key-id","displayName":"Client-Side Encryption Key ID","identifiesControllerService":false,"sensitive":false},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"blob":{"name":"blob","displayName":"Blob","identifiesControllerService":false,"sensitive":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Common Storage Account Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"},{"identifier":"77d45751-b5dc-3b9f-b8b9-30c8b6960927","instanceIdentifier":"836ecbe3-7c93-369a-9b47-5705dcbb2f46","name":"GetFile","comments":"","position":{"x":1640.0,"y":912.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/hadoop-nifi","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"26a85ddb-ea7d-3d57-a80d-dd8cbbac53b3","instanceIdentifier":"64c1799a-7ddd-3425-aa56-09b252ec079e","name":"","source":{"id":"81e2880b-2aca-3beb-974c-b27e1f0438c9","type":"PROCESSOR","groupId":"4069babe-eb67-3a49-9828-84bac1b0ebc6","name":"FetchAzureBlobStorage","comments":"","instanceIdentifier":"8d63f792-b311-30e6-9717-4a77868832dd"},"destination":{"id":"b5ce89a4-15e2-3fb7-8cbc-6e243a1c25a1","type":"PROCESSOR","groupId":"4069babe-eb67-3a49-9828-84bac1b0ebc6","name":"PutFile","comments":"","instanceIdentifier":"d3c08c02-54ca-3c53-bdbc-c906bed64a29"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"},{"identifier":"c0e55a2b-78b6-35bb-80c6-61c6921bca30","instanceIdentifier":"68614b00-7142-3f68-9ea2-2653678d9330","name":"","source":{"id":"335e3bf1-dfe7-3d07-9516-b090b155e92b","type":"PROCESSOR","groupId":"4069babe-eb67-3a49-9828-84bac1b0ebc6","name":"ListAzureBlobStorage","comments":"","instanceIdentifier":"66236fdc-a15b-389f-9092-09bc9b9302d1"},"destination":{"id":"81e2880b-2aca-3beb-974c-b27e1f0438c9","type":"PROCESSOR","groupId":"4069babe-eb67-3a49-9828-84bac1b0ebc6","name":"FetchAzureBlobStorage","comments":"","instanceIdentifier":"8d63f792-b311-30e6-9717-4a77868832dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"01a2a782-2a9b-38d0-a7e6-879e97c581f0","instanceIdentifier":"208c8cf5-0846-30a5-b5b2-e3c1f18b0be8","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.1-1"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.1-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4069babe-eb67-3a49-9828-84bac1b0ebc6"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"}],"remoteProcessGroups":[],"processors":[{"identifier":"cd370c4b-7dcf-36f0-8681-96247ffb664c","instanceIdentifier":"57c14374-0182-1000-ffff-ffffb0cb9f39","name":"LogAttribute","comments":"","position":{"x":890.0,"y":801.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"},{"identifier":"25c23f76-7466-34dc-ab03-f6b38d8ae8ea","instanceIdentifier":"57c0e16e-0182-1000-0000-000062c646aa","name":"ExecuteSQL","comments":"","position":{"x":824.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4c1a0aa3-876c-3307-8017-6ae012ec325a","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from mysqlonprem.Persons","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 mins","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"},{"identifier":"561101ae-af66-33d1-8ebb-5a21e1243b5c","instanceIdentifier":"59beaa61-0182-1000-ffff-ffffa118e534","name":"ConvertAvroToParquet","comments":"","position":{"x":1347.9089541139465,"y":541.2949732738226},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"enable-dictionary-encoding":null,"page-size":null,"writer-version":null,"max-padding-size":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"row-group-size":null},"propertyDescriptors":{"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"},{"identifier":"26fd2641-b1c5-3015-a4a2-061965b6e399","instanceIdentifier":"59bd9411-0182-1000-ffff-ffff9a02efc9","name":"ConvertAvroToORC","comments":"","position":{"x":1375.0214777813987,"y":295.2739251802742},"type":"org.apache.nifi.processors.hive.ConvertAvroToORC","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"orc-config-resources":null,"orc-buffer-size":"10 KB","orc-compression-type":"NONE","orc-stripe-size":"64 MB","orc-hive-table-name":null},"propertyDescriptors":{"orc-config-resources":{"name":"orc-config-resources","displayName":"ORC Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"orc-buffer-size":{"name":"orc-buffer-size","displayName":"Buffer Size","identifiesControllerService":false,"sensitive":false},"orc-compression-type":{"name":"orc-compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"orc-stripe-size":{"name":"orc-stripe-size","displayName":"Stripe Size","identifiesControllerService":false,"sensitive":false},"orc-hive-table-name":{"name":"orc-hive-table-name","displayName":"Hive Table Name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"},{"identifier":"eeca17e6-8752-3aeb-87d0-1055cb006ce8","instanceIdentifier":"599b0587-0182-1000-0000-0000753379ab","name":"PutAzureDataLakeStorage","comments":"","position":{"x":1792.0,"y":592.0},"type":"org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"filesystem-name":"data","conflict-resolution-strategy":"fail","adls-credentials-service":"e5ec8ce6-7328-3bdb-80af-743727999dc5","directory-name":"warehouse/tablespace/external/hive/persons","file-name":"persons.parquet"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false},"conflict-resolution-strategy":{"name":"conflict-resolution-strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b07b9309-e0f5-32a1-b4be-e910de62ef40","instanceIdentifier":"57c16bcf-0182-1000-ffff-ffffb5a6bc18","name":"","source":{"id":"25c23f76-7466-34dc-ab03-f6b38d8ae8ea","type":"PROCESSOR","groupId":"4a694653-9fb9-3890-b54a-60883f8ba28f","name":"ExecuteSQL","comments":"","instanceIdentifier":"57c0e16e-0182-1000-0000-000062c646aa"},"destination":{"id":"cd370c4b-7dcf-36f0-8681-96247ffb664c","type":"PROCESSOR","groupId":"4a694653-9fb9-3890-b54a-60883f8ba28f","name":"LogAttribute","comments":"","instanceIdentifier":"57c14374-0182-1000-ffff-ffffb0cb9f39"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"},{"identifier":"6529b4dd-7fe5-3bbe-9799-43cc93ed642c","instanceIdentifier":"59bed10b-0182-1000-ffff-ffffbcac1103","name":"","source":{"id":"561101ae-af66-33d1-8ebb-5a21e1243b5c","type":"PROCESSOR","groupId":"4a694653-9fb9-3890-b54a-60883f8ba28f","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"59beaa61-0182-1000-ffff-ffffa118e534"},"destination":{"id":"eeca17e6-8752-3aeb-87d0-1055cb006ce8","type":"PROCESSOR","groupId":"4a694653-9fb9-3890-b54a-60883f8ba28f","name":"PutAzureDataLakeStorage","comments":"","instanceIdentifier":"599b0587-0182-1000-0000-0000753379ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"},{"identifier":"061e2183-df2d-3cab-831a-f13c5b6de249","instanceIdentifier":"59bec25d-0182-1000-ffff-ffff80f61ad1","name":"","source":{"id":"25c23f76-7466-34dc-ab03-f6b38d8ae8ea","type":"PROCESSOR","groupId":"4a694653-9fb9-3890-b54a-60883f8ba28f","name":"ExecuteSQL","comments":"","instanceIdentifier":"57c0e16e-0182-1000-0000-000062c646aa"},"destination":{"id":"561101ae-af66-33d1-8ebb-5a21e1243b5c","type":"PROCESSOR","groupId":"4a694653-9fb9-3890-b54a-60883f8ba28f","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"59beaa61-0182-1000-ffff-ffffa118e534"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"4c1a0aa3-876c-3307-8017-6ae012ec325a","instanceIdentifier":"57aabb08-0182-1000-0000-0000287b3490","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://172.16.2.4:3306/","dbcp-time-between-eviction-runs":"-1","Database User":"azureuser","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/usr/share/java/mysql-connector-java-8.0.30.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.1-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"},{"identifier":"f623f645-b430-3395-99a9-a60055cc178d","instanceIdentifier":"57a56669-0182-1000-ffff-ffffa3ceb85c","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.1-1"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.1-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"},{"identifier":"e5ec8ce6-7328-3bdb-80af-743727999dc5","instanceIdentifier":"599bea94-0182-1000-ffff-fffffcfdd7ce","name":"ADLSCredentialsControllerService","comments":"","type":"org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.16.0.2.2.5.1-1"},"properties":{"storage-use-managed-identity":"false","storage-endpoint-suffix":"dfs.core.windows.net"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"storage-use-managed-identity":{"name":"storage-use-managed-identity","displayName":"Use Azure Managed Identity","identifiesControllerService":false,"sensitive":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true},"managed-identity-client-id":{"name":"managed-identity-client-id","displayName":"Managed Identity Client ID","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.ADLSCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"1.16.0.2.2.5.1-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4a694653-9fb9-3890-b54a-60883f8ba28f"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}